body{
    margin:0;
    padding:0;
}

.sign-up-form{
    position: relative;
    width: 300px;
    background-color: #FFF;
    padding: 20px;
    margin: 10% auto 0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    text-align: center;
}

.sign-up-form input[type=text], .sign-up-form input[type=password] {
    width:100%;
	display: block;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.button {
    width:100%;
    display:block;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}